resources/measures/HPXMLtoOpenStudio/hpxml_schemas/HPXMLDataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hpxmlonline.com/2014/6"
	targetNamespace="http://hpxmlonline.com/2014/6" elementFormDefault="qualified" version="3.0">
	<!-- Value Lists -->
	<!--Address Information Below-->
	<xs:simpleType name="schemaVersionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="3.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="street"/>
			<xs:enumeration value="mailing"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StateCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ZipCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}(-[0-9]{4})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="USPSBarCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Name Information Below-->
	<xs:simpleType name="PrefixName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SuffixName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="IndividualType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="owner-occupant"/>
			<xs:enumeration value="owner-non-occupant"/>
			<xs:enumeration value="property manager"/>
			<xs:enumeration value="real estate agent"/>
			<xs:enumeration value="tenant"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusinessCertification">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BPI"/>
			<xs:enumeration value="RESNET"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Telephone Information Below-->
	<xs:simpleType name="TelephoneTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="day"/>
			<xs:enumeration value="evening"/>
			<xs:enumeration value="mobile"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TelephoneNumber">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TelephoneExtension">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Email Information Below-->
	<xs:simpleType name="EmailTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="personal"/>
			<xs:enumeration value="work"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmailAddress">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--System Identifiers Below-->
	<xs:simpleType name="SendingSystemIdentifierType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SendingSystemIdentifierValue">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ReceivingSystemIdentifierType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ReceivingSystemIdentifierValue">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--XMLTransaction Header Information Below-->
	<xs:simpleType name="XMLType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="XMLGeneratedBy">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CreatedDateAndTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<!--Utility Information Below-->
	<!--Misc Data Fields Below-->
	<!--Air Infiltration Below-->
	<xs:simpleType name="BuildingLeakiness">
		<xs:restriction base="xs:string">
			<xs:enumeration value="very tight"/>
			<xs:enumeration value="tight"/>
			<xs:enumeration value="average"/>
			<xs:enumeration value="leaky"/>
			<xs:enumeration value="very leaky"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WindConditions">
		<xs:restriction base="xs:string">
			<xs:enumeration value="windy"/>
			<xs:enumeration value="normal"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BuildingAirLeakage">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BuildingAirLeakageUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CFM"/>
			<xs:enumeration value="CFMnatural"/>
			<xs:enumeration value="ACH"/>
			<xs:enumeration value="ACHnatural"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FanPressure">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="FanRingUsed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="open"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TestDate">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="TestInorOut">
		<xs:restriction base="xs:string">
			<xs:enumeration value="test in"/>
			<xs:enumeration value="test out"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeofBlowerDoorTest">
		<xs:restriction base="xs:string">
			<xs:enumeration value="pressurization"/>
			<xs:enumeration value="depressurization"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HousePressure">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeofInfiltrationMeasurement">
		<xs:restriction base="xs:string">
			<xs:enumeration value="blower door"/>
			<xs:enumeration value="tracer gas"/>
			<xs:enumeration value="estimate"/>
			<xs:enumeration value="checklist"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Climate and Risk Zones-->
	<xs:simpleType name="ClimateZoneDOE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="subarctic"/>
			<xs:enumeration value="marine"/>
			<xs:enumeration value="hot-dry"/>
			<xs:enumeration value="mixed-dry"/>
			<xs:enumeration value="hot-humid"/>
			<xs:enumeration value="mixed-humid"/>
			<xs:enumeration value="cold"/>
			<xs:enumeration value="very cold"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IECCYear">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="2012"/>
			<xs:enumeration value="2009"/>
			<xs:enumeration value="2006"/>
			<xs:enumeration value="2003"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClimateZoneIECC">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1A"/>
			<xs:enumeration value="1B"/>
			<xs:enumeration value="1C"/>
			<xs:enumeration value="2A"/>
			<xs:enumeration value="2B"/>
			<xs:enumeration value="2C"/>
			<xs:enumeration value="3A"/>
			<xs:enumeration value="3B"/>
			<xs:enumeration value="3C"/>
			<xs:enumeration value="4A"/>
			<xs:enumeration value="4B"/>
			<xs:enumeration value="4C"/>
			<xs:enumeration value="5A"/>
			<xs:enumeration value="5B"/>
			<xs:enumeration value="5C"/>
			<xs:enumeration value="6A"/>
			<xs:enumeration value="6B"/>
			<xs:enumeration value="6C"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EarthquakeZone">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="RadonZone">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TermiteZone">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none to slight"/>
			<xs:enumeration value="slight to moderate"/>
			<xs:enumeration value="moderate to heavy"/>
			<xs:enumeration value="very heavy"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Construction Below-->
	<xs:simpleType name="ResidentialFacilityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="single-family detached"/>
			<xs:enumeration value="single-family attached"/>
			<xs:enumeration value="manufactured home"/>
			<xs:enumeration value="2-4 unit building"/>
			<xs:enumeration value="5+ unit building"/>
			<xs:enumeration value="multi-family - uncategorized"/>
			<xs:enumeration value="multi-family - town homes"/>
			<xs:enumeration value="multi-family - condos"/>
			<xs:enumeration value="apartment unit"/>
			<xs:enumeration value="studio unit"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EducationLevels">
		<xs:restriction base="xs:string">
			<xs:enumeration value="no high school"/>
			<xs:enumeration value="some high school"/>
			<xs:enumeration value="high school graduate"/>
			<xs:enumeration value="some college"/>
			<xs:enumeration value="vocational/technical/associates degree"/>
			<xs:enumeration value="bachelor's degree"/>
			<xs:enumeration value="some post graduate "/>
			<xs:enumeration value="master's degree"/>
			<xs:enumeration value="professional degree"/>
			<xs:enumeration value="doctoral degree"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FootprintShape">
		<xs:restriction base="xs:string">
			<xs:enumeration value="rectangular"/>
			<xs:enumeration value="square"/>
			<xs:enumeration value="circular"/>
			<xs:enumeration value="L-shaped"/>
			<xs:enumeration value="U-shaped"/>
			<xs:enumeration value="I-shaped"/>
			<xs:enumeration value="V-shaped"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrientationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="north"/>
			<xs:enumeration value="northwest"/>
			<xs:enumeration value="west"/>
			<xs:enumeration value="southwest"/>
			<xs:enumeration value="south"/>
			<xs:enumeration value="southeast"/>
			<xs:enumeration value="east"/>
			<xs:enumeration value="northeast"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberOfFloorsType">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntegerGreaterThanZero">
		<xs:restriction base="xs:integer">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntegerGreaterThanOrEqualToZero">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SiteType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="rural"/>
			<xs:enumeration value="suburban"/>
			<xs:enumeration value="urban"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Surroundings">
		<xs:restriction base="xs:string">
			<xs:enumeration value="stand-alone"/>
			<xs:enumeration value="attached on one side"/>
			<xs:enumeration value="attached on two sides"/>
			<xs:enumeration value="attached on three sides"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VerticalSurroundings">
		<xs:restriction base="xs:string">
			<xs:enumeration value="unit above"/>
			<xs:enumeration value="unit below"/>
			<xs:enumeration value="unit above and below"/>
			<xs:enumeration value="no units above or below"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ShieldingofHome">
		<xs:restriction base="xs:string">
			<xs:enumeration value="well-shielded"/>
			<xs:enumeration value="normal"/>
			<xs:enumeration value="exposed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GarageLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="basement"/>
			<xs:enumeration value="first floor"/>
			<xs:enumeration value="detached"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpaceAboveGarage">
		<xs:restriction base="xs:string">
			<xs:enumeration value="conditioned area"/>
			<xs:enumeration value="unconditioned attic"/>
			<xs:enumeration value="crawlspace"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HouseholdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="family household"/>
			<xs:enumeration value="married couple, no children"/>
			<xs:enumeration value="male household, no spouse"/>
			<xs:enumeration value="female household, no spouse"/>
			<xs:enumeration value="nonfamily household"/>
			<xs:enumeration value="single male"/>
			<xs:enumeration value="single female"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResidentPopulationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="no specific resident population"/>
			<xs:enumeration value="student"/>
			<xs:enumeration value="military"/>
			<xs:enumeration value="senior"/>
			<xs:enumeration value="special accessibility needs"/>
			<xs:enumeration value="young children"/>
			<xs:enumeration value="at risk"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Occupancy">
		<xs:restriction base="xs:string">
			<xs:enumeration value="owner-occupied"/>
			<xs:enumeration value="renter-occupied"/>
			<xs:enumeration value="owner-and-renter-occupied"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OccupantIncomeRangeUnits">
		<xs:annotation>
			<xs:documentation>AMI = Area Median Income; FPL = Federal Poverty Level</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="% area median income"/>
			<xs:enumeration value="% federal poverty level"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Year">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<!-- Make sure to update FuelType with changes to this list as well. -->
	<xs:simpleType name="ConsumptionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="electricity"/>
			<xs:enumeration value="renewable electricity"/>
			<xs:enumeration value="natural gas"/>
			<xs:enumeration value="renewable natural gas"/>
			<xs:enumeration value="fuel oil"/>
			<xs:enumeration value="fuel oil 1"/>
			<xs:enumeration value="fuel oil 2"/>
			<xs:enumeration value="fuel oil 4"/>
			<xs:enumeration value="fuel oil 5/6"/>
			<xs:enumeration value="district steam"/>
			<xs:enumeration value="district hot water"/>
			<xs:enumeration value="district chilled water"/>
			<xs:enumeration value="solar hot water"/>
			<xs:enumeration value="propane"/>
			<xs:enumeration value="kerosene"/>
			<xs:enumeration value="diesel"/>
			<xs:enumeration value="anthracite coal"/>
			<xs:enumeration value="bituminous coal"/>
			<xs:enumeration value="coke"/>
			<xs:enumeration value="wood"/>
			<xs:enumeration value="wood pellets"/>
			<xs:enumeration value="combination"/>
			<xs:enumeration value="water"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MeteringConfiguration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="direct metering"/>
			<xs:enumeration value="master meter without sub-metering"/>
			<xs:enumeration value="master meter with sub-metering"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmissionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CO2"/>
			<xs:enumeration value="methane"/>
			<xs:enumeration value="N2O"/>
			<xs:enumeration value="CO2 equivalent"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmissionUnits">
		<xs:restriction base="xs:string">
			<xs:enumeration value="kg"/>
			<xs:enumeration value="ton"/>
			<xs:enumeration value="metric ton"/>
			<xs:enumeration value="pound"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FuelInterruptibility">
		<xs:restriction base="xs:string">
			<xs:enumeration value="interruptible"/>
			<xs:enumeration value="firm"/>
			<xs:enumeration value="na"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SharedEnergySystem">
		<xs:restriction base="xs:string">
			<xs:enumeration value="yes"/>
			<xs:enumeration value="no"/>
			<xs:enumeration value="common meter"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntervalType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="15-minute"/>
			<xs:enumeration value="hourly"/>
			<xs:enumeration value="daily"/>
			<xs:enumeration value="monthly"/>
			<xs:enumeration value="annual"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PeakSeason">
		<xs:restriction base="xs:string">
			<xs:enumeration value="summer"/>
			<xs:enumeration value="winter"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="COReading">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="RadonTestTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="activated charcoal absorption"/>
			<xs:enumeration value="alpha-track detectors"/>
			<xs:enumeration value="unfiltered track detection"/>
			<xs:enumeration value="short term electret ion chamber"/>
			<xs:enumeration value="long term electret ion chamber"/>
			<xs:enumeration value="continuous radon monitoring"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RadonTestLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="kitchen"/>
			<xs:enumeration value="crawlspace"/>
			<xs:enumeration value="basement"/>
			<xs:enumeration value="bedroom"/>
			<xs:enumeration value="living room"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Make sure to update ConsumptionType with changes to this list as well. -->
	<xs:simpleType name="FuelType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="electricity"/>
			<xs:enumeration value="renewable electricity"/>
			<xs:enumeration value="natural gas"/>
			<xs:enumeration value="renewable natural gas"/>
			<xs:enumeration value="fuel oil"/>
			<xs:enumeration value="fuel oil 1"/>
			<xs:enumeration value="fuel oil 2"/>
			<xs:enumeration value="fuel oil 4"/>
			<xs:enumeration value="fuel oil 5/6"/>
			<xs:enumeration value="district steam"/>
			<xs:enumeration value="district hot water"/>
			<xs:enumeration value="district chilled water"/>
			<xs:enumeration value="solar hot water"/>
			<xs:enumeration value="propane"/>
			<xs:enumeration value="kerosene"/>
			<xs:enumeration value="diesel"/>
			<xs:enumeration value="anthracite coal"/>
			<xs:enumeration value="bituminous coal"/>
			<xs:enumeration value="coke"/>
			<xs:enumeration value="wood"/>
			<xs:enumeration value="wood pellets"/>
			<xs:enumeration value="combination"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Other Health and Safety Below-->
	<!--Standard Measure Fields Below-->
	<xs:simpleType name="EventType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="audit"/>
			<xs:enumeration value="proposed workscope"/>
			<xs:enumeration value="approved workscope"/>
			<xs:enumeration value="construction-period testing/daily test out"/>
			<xs:enumeration value="job completion testing/final inspection"/>
			<xs:enumeration value="quality assurance/monitoring"/>
			<xs:enumeration value="preconstruction"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Air Sealing Below-->
	<!--Doors Below-->
	<xs:simpleType name="AtticComponentsAirSealed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="attic floor"/>
			<xs:enumeration value="top plates"/>
			<xs:enumeration value="kneewall transitions"/>
			<xs:enumeration value="plumbing wet walls"/>
			<xs:enumeration value="chimney/flue chases"/>
			<xs:enumeration value="recessed lights"/>
			<xs:enumeration value="attic access"/>
			<xs:enumeration value="dropped soffit"/>
			<xs:enumeration value="attic level transitions"/>
			<xs:enumeration value="mechanical chases"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BasementCrawlspaceComponentsAirSealed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="plumbing penetrations"/>
			<xs:enumeration value="access"/>
			<xs:enumeration value="wiring penetrations"/>
			<xs:enumeration value="chimney/flue chase"/>
			<xs:enumeration value="mechanical chases"/>
			<xs:enumeration value="rim joists"/>
			<xs:enumeration value="windows and door"/>
			<xs:enumeration value="foundation service penetrations"/>
			<xs:enumeration value="cantilevers"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LivingSpaceComponentsAirSealed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="home-garage connection"/>
			<xs:enumeration value="rim joists"/>
			<xs:enumeration value="baseboards"/>
			<xs:enumeration value="windows and door"/>
			<xs:enumeration value="plumbing penetrations"/>
			<xs:enumeration value="hvac registers"/>
			<xs:enumeration value="interior sheating voids"/>
			<xs:enumeration value="cantilevers"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FoundationWallType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="solid concrete"/>
			<xs:enumeration value="concrete block"/>
			<xs:enumeration value="concrete block foam core"/>
			<xs:enumeration value="concrete block vermiculite core"/>
			<xs:enumeration value="double brick"/>
			<xs:enumeration value="wood"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdjacentTo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="attic"/>
			<xs:enumeration value="attic - conditioned"/>
			<xs:enumeration value="attic - unvented"/>
			<xs:enumeration value="attic - vented"/>
			<xs:enumeration value="basement"/>
			<xs:enumeration value="basement - conditioned"/>
			<xs:enumeration value="basement - unconditioned"/>
			<xs:enumeration value="crawlspace"/>
			<xs:enumeration value="crawlspace - conditioned"/>
			<xs:enumeration value="crawlspace - unvented"/>
			<xs:enumeration value="crawlspace - vented"/>
			<xs:enumeration value="garage"/>
			<xs:enumeration value="garage - conditioned"/>
			<xs:enumeration value="garage - unconditioned"/>
			<xs:enumeration value="ground"/>
			<xs:enumeration value="living space"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="other housing unit"/>
			<xs:enumeration value="outside"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StudSize">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2x2"/>
			<xs:enumeration value="2x3"/>
			<xs:enumeration value="2x4"/>
			<xs:enumeration value="2x6"/>
			<xs:enumeration value="2x8"/>
			<xs:enumeration value="2x10"/>
			<xs:enumeration value="2x12"/>
			<xs:enumeration value="2x14"/>
			<xs:enumeration value="2x16"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StudMaterial">
		<xs:restriction base="xs:string">
			<xs:enumeration value="wood"/>
			<xs:enumeration value="metal"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DoorMaterial">
		<xs:restriction base="xs:string">
			<xs:enumeration value="solid wood"/>
			<xs:enumeration value="hollow wood"/>
			<xs:enumeration value="uninsulated metal"/>
			<xs:enumeration value="insulated metal"/>
			<xs:enumeration value="glass"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DoorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="interior"/>
			<xs:enumeration value="exterior"/>
			<xs:enumeration value="storm"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RValue">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Insulation Below-->
	<xs:simpleType name="DoorThirdPartyCertifications">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Energy Star"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InstallationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cavity"/>
			<xs:enumeration value="continuous"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InsulationBattType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="fiberglass"/>
			<xs:enumeration value="rockwool"/>
			<xs:enumeration value="recycled cotton"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InsulationLooseFillType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cellulose"/>
			<xs:enumeration value="fiberglass"/>
			<xs:enumeration value="rockwool"/>
			<xs:enumeration value="vermiculite"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InsulationRigidType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="polyisocyanurate"/>
			<xs:enumeration value="xps"/>
			<xs:enumeration value="eps"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InsulationSprayFoamType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="open cell"/>
			<xs:enumeration value="closed cell"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InsulationCondition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="good"/>
			<xs:enumeration value="fair"/>
			<xs:enumeration value="poor"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Lighting Below-->
	<!--Lighting Controls Below-->
	<xs:simpleType name="InsulationLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="interior"/>
			<xs:enumeration value="exterior"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LightingLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="interior"/>
			<xs:enumeration value="exterior"/>
			<xs:enumeration value="common area"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FluorescentTubeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="T2"/>
			<xs:enumeration value="T4"/>
			<xs:enumeration value="T5"/>
			<xs:enumeration value="T8"/>
			<xs:enumeration value="super T8"/>
			<xs:enumeration value="T9"/>
			<xs:enumeration value="T10"/>
			<xs:enumeration value="T12"/>
			<xs:enumeration value="T17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FluorescentBallastType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="electronic"/>
			<xs:enumeration value="magnetic"/>
			<xs:enumeration value="instant start"/>
			<xs:enumeration value="rapid start"/>
			<xs:enumeration value="programmed start"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LightingThirdPartyCertification">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Energy Star"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LightingDailyHours">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1 to 4 hours per day"/>
			<xs:enumeration value="4 to 12 hours per day"/>
			<xs:enumeration value="more than 12 hours per day"/>
			<xs:enumeration value="all day"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LightingControls">
		<xs:restriction base="xs:string">
			<xs:enumeration value="daylight dimming"/>
			<xs:enumeration value="occupancy sensors"/>
			<xs:enumeration value="vacancy sensors"/>
			<xs:enumeration value="manual dimming"/>
			<xs:enumeration value="bi-level control"/>
			<xs:enumeration value="timers"/>
			<xs:enumeration value="manual"/>
			<xs:enumeration value="advanced controls"/>
			<xs:enumeration value="part of emcs"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Moisture Control Below-->
	<xs:simpleType name="ExteriorLocationsWaterIntrusionorDamage">
		<xs:restriction base="xs:string">
			<xs:enumeration value="roof"/>
			<xs:enumeration value="interior ceiling"/>
			<xs:enumeration value="foundation"/>
			<xs:enumeration value="basement"/>
			<xs:enumeration value="crawlspace"/>
			<xs:enumeration value="walls"/>
			<xs:enumeration value="around windows"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InteriorLocationsofWaterLeaksorDamage">
		<xs:restriction base="xs:string">
			<xs:enumeration value="kitchen "/>
			<xs:enumeration value="bathroom"/>
			<xs:enumeration value="basement"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Plug Load Controls Below-->
	<!--Shading and Solar Reflectance Below-->
	<xs:simpleType name="PlugLoadControlType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="advanced power strip for AV"/>
			<xs:enumeration value="advanced power strip for IT"/>
			<xs:enumeration value="whole-house energy management system"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RadiantBarrierLocation">
		<xs:annotation>
			<xs:documentation>Enumerations from http://www.fsec.ucf.edu/en/publications/pdf/FSEC-DN-7-84.pdf</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="top side of truss under sheathing"/>
			<xs:enumeration value="below bottom chord of truss"/>
			<xs:enumeration value="attic floor"/>
			<xs:enumeration value="underside of rafters"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Ventilation Below-->
	<!--Window Group Below-->
	<xs:simpleType name="HVACThirdPartyCertification">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Energy Star"/>
			<xs:enumeration value="Energy Star Most Efficient"/>
			<xs:enumeration value="CEE Tier 1"/>
			<xs:enumeration value="CEE Tier 2"/>
			<xs:enumeration value="CEE Tier 3"/>
			<xs:enumeration value="NEEP Cold-Climate Air-Source Heat Pump Specification"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DHWThirdPartyCertification">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Energy Star"/>
			<xs:enumeration value="CEE Tier 1"/>
			<xs:enumeration value="CEE Tier 2"/>
			<xs:enumeration value="CEE Tier 3"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GlassLayers">
		<xs:restriction base="xs:string">
			<xs:enumeration value="single-pane"/>
			<xs:enumeration value="double-pane"/>
			<xs:enumeration value="triple-pane"/>
			<xs:enumeration value="multi-layered"/>
			<xs:enumeration value="single-paned with storms"/>
			<xs:enumeration value="single-paned with low-e storms"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WindowThirdPartyCertification">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Energy Star"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SHGC">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
			<xs:maxExclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InteriorShading">
		<xs:restriction base="xs:string">
			<xs:enumeration value="light blinds"/>
			<xs:enumeration value="dark blinds"/>
			<xs:enumeration value="light shades"/>
			<xs:enumeration value="dark shades"/>
			<xs:enumeration value="light curtains"/>
			<xs:enumeration value="dark curtains"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExteriorShading">
		<xs:restriction base="xs:string">
			<xs:enumeration value="external overhangs"/>
			<xs:enumeration value="awnings"/>
			<xs:enumeration value="solar screens"/>
			<xs:enumeration value="solar film"/>
			<xs:enumeration value="deciduous tree"/>
			<xs:enumeration value="evergreen tree"/>
			<xs:enumeration value="building"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Treatments">
		<xs:restriction base="xs:string">
			<xs:enumeration value="window film"/>
			<xs:enumeration value="solar screen"/>
			<xs:enumeration value="shading"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UFactor">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Combustion Applicance Tests Below-->
	<xs:simpleType name="FlueCondition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="pass"/>
			<xs:enumeration value="fail"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Combustion Appliance Zone Test Below-->
	<xs:simpleType name="CAZDepressurizationLimit">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="OpenClosed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="open"/>
			<xs:enumeration value="closed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DepressurizationFindingPoorCase">
		<xs:restriction base="xs:string">
			<xs:enumeration value="pass"/>
			<xs:enumeration value="fail"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NetPressureChange">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<!--Cooling System Information Below-->
	<xs:simpleType name="CoolingSystemType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="central air conditioning"/>
			<xs:enumeration value="mini-split"/>
			<xs:enumeration value="room air conditioner"/>
			<xs:enumeration value="evaporative cooler"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CoolingEfficiencyUnits">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SEER"/>
			<xs:enumeration value="EER"/>
			<xs:enumeration value="COP"/>
			<xs:enumeration value="kW/ton"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HeatingEfficiencyUnits">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HSPF"/>
			<xs:enumeration value="COP"/>
			<xs:enumeration value="AFUE"/>
			<xs:enumeration value="Percent"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DistrictSteamType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1-pipe"/>
			<xs:enumeration value="2-pipe"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Efficiency">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Heat Pump Information Below-->
	<xs:simpleType name="GeothermalLoop">
		<xs:restriction base="xs:string">
			<xs:enumeration value="open"/>
			<xs:enumeration value="closed"/>
			<xs:enumeration value="direct expansion"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HeatPumpType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="water-to-air"/>
			<xs:enumeration value="water-to-water"/>
			<xs:enumeration value="air-to-air"/>
			<xs:enumeration value="mini-split"/>
			<xs:enumeration value="ground-to-air"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VentSystem">
		<xs:restriction base="xs:string">
			<xs:enumeration value="atmospheric"/>
			<xs:enumeration value="induced draft"/>
			<xs:enumeration value="power vented (at unit)"/>
			<xs:enumeration value="power vented (at exterior)"/>
			<xs:enumeration value="direct vented"/>
			<xs:enumeration value="sealed combustion"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Heating System Information Below-->
	<xs:simpleType name="AFUE">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="COP">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!--HVAC Distribution Below-->
	<xs:simpleType name="HSPF">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SEER">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EER">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kWperTon">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DuctType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="supply"/>
			<xs:enumeration value="return"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DuctMaterial">
		<xs:restriction base="xs:string">
			<xs:enumeration value="duct board"/>
			<xs:enumeration value="sheet metal"/>
			<xs:enumeration value="galvanized"/>
			<xs:enumeration value="flexible"/>
			<xs:enumeration value="fiberboard"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DuctLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="attic"/>
			<xs:enumeration value="attic - conditioned"/>
			<xs:enumeration value="attic - unvented"/>
			<xs:enumeration value="attic - vented"/>
			<xs:enumeration value="basement"/>
			<xs:enumeration value="basement - conditioned"/>
			<xs:enumeration value="basement - unconditioned"/>
			<xs:enumeration value="crawlspace"/>
			<xs:enumeration value="crawlspace - conditioned"/>
			<xs:enumeration value="crawlspace - unvented"/>
			<xs:enumeration value="crawlspace - vented"/>
			<xs:enumeration value="garage"/>
			<xs:enumeration value="garage - conditioned"/>
			<xs:enumeration value="garage - unconditioned"/>
			<xs:enumeration value="interstitial space"/>
			<xs:enumeration value="living space"/>
			<xs:enumeration value="outside"/>
			<xs:enumeration value="unconditioned space"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DuctLeakageTestMethod">
		<xs:restriction base="xs:string">
			<xs:enumeration value="duct leakage tester"/>
			<xs:enumeration value="blower door subtract"/>
			<xs:enumeration value="pressure pan"/>
			<xs:enumeration value="visual inspection"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DuctLeakageTestUnitofMeasure">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CFM50"/>
			<xs:enumeration value="CFM25"/>
			<xs:enumeration value="CFM per Std 152"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LeakinessObservedVisualInspection">
		<xs:restriction base="xs:string">
			<xs:enumeration value="connections sealed w mastic"/>
			<xs:enumeration value="no observable leaks"/>
			<xs:enumeration value="some observable leaks"/>
			<xs:enumeration value="significant leaks"/>
			<xs:enumeration value="catastrophic leaks"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MeasuredDuctLeakage">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<!--HVAC System Below-->
	<xs:simpleType name="AirHandlerStaticPressureMeasurementLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="in ducts"/>
			<xs:enumeration value="at equipment"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StaticPressureSource">
		<xs:restriction base="xs:string">
			<xs:enumeration value="as measured"/>
			<xs:enumeration value="per design report"/>
			<xs:enumeration value="per OEM documentation"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Capacity">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="HVACMaintenanceSchedule">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="yes - unspecified"/>
			<xs:enumeration value="as needed"/>
			<xs:enumeration value="daily"/>
			<xs:enumeration value="weekly"/>
			<xs:enumeration value="bi-weekly"/>
			<xs:enumeration value="monthly"/>
			<xs:enumeration value="semi-quarterly"/>
			<xs:enumeration value="quarterly"/>
			<xs:enumeration value="semi-annually"/>
			<xs:enumeration value="annually"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DispositionofExistingSystem">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Manufacturer">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Model">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="UnitLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="attic"/>
			<xs:enumeration value="attic - conditioned"/>
			<xs:enumeration value="attic - unvented"/>
			<xs:enumeration value="attic - vented"/>
			<xs:enumeration value="basement"/>
			<xs:enumeration value="basement - conditioned"/>
			<xs:enumeration value="basement - unconditioned"/>
			<xs:enumeration value="crawlspace"/>
			<xs:enumeration value="crawlspace - conditioned"/>
			<xs:enumeration value="crawlspace - unvented"/>
			<xs:enumeration value="crawlspace - vented"/>
			<xs:enumeration value="garage"/>
			<xs:enumeration value="garage - conditioned"/>
			<xs:enumeration value="garage - unconditioned"/>
			<xs:enumeration value="living space"/>
			<xs:enumeration value="mechanical closet"/>
			<xs:enumeration value="other interior"/>
			<xs:enumeration value="other exterior"/>
			<xs:enumeration value="roof deck"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Thermostats Below-->
	<xs:simpleType name="Temperature">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="ThermostatType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="programmable thermostat"/>
			<xs:enumeration value="manual thermostat"/>
			<xs:enumeration value="digital thermostat"/>
			<xs:enumeration value="timer"/>
			<xs:enumeration value="EMCS"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HotWaterResetControl">
		<xs:restriction base="xs:string">
			<xs:enumeration value="seasonal"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Hours">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<!--Water Heating System Below-->
	<xs:simpleType name="EnergyFactor">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
			<xs:maxInclusive value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PipeInsulated">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="RecoveryEfficiency">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
			<xs:maxInclusive value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Volume">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ThermalEfficiency">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProjectType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Appliances Below-->
	<!--Clothes Dryers Below-->
	<!--Clothes Washer Below-->
	<xs:simpleType name="ApplianceThirdPartyCertifications">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Energy Star"/>
			<xs:enumeration value="Energy Star Most Efficient"/>
			<xs:enumeration value="CEE Tier 1"/>
			<xs:enumeration value="CEE Tier 2"/>
			<xs:enumeration value="CEE Tier 3"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Dishwasher Below-->
	<xs:simpleType name="DishwasherType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="uncategorized"/>
			<xs:enumeration value="built-in under counter"/>
			<xs:enumeration value="portable"/>
			<xs:enumeration value="counter-top"/>
			<xs:enumeration value="single tank"/>
			<xs:enumeration value="conveyor"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RatedAnnualkWh">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RatedWaterGalPerCycle">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Freezer Below-->
	<!--Refrigerators Below-->
	<!--Energy Savings Information Below-->
	<xs:simpleType name="TotalCostHealthSafetyMeasures">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="TotalCostQualEnergyMeasures">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<!--Homeowner Questionaire Below-->
	<xs:simpleType name="HomeownerQuestionaireScore">
		<xs:annotation>
			<xs:documentation>1-10 score of why they chose that option</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Software Information Below-->
	<xs:simpleType name="SoftwareProgramUsed">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SoftwareProgramVersion">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--Contractor / Contracting Company Information Below-->
	<xs:simpleType name="BusinessSpecialization">
		<xs:restriction base="xs:string">
			<xs:enumeration value="energy audit"/>
			<xs:enumeration value="hvac"/>
			<xs:enumeration value="insulation"/>
			<xs:enumeration value="carpentry"/>
			<xs:enumeration value="plumbing"/>
			<xs:enumeration value="electrical"/>
			<xs:enumeration value="painting"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BusinessType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="contractor"/>
			<xs:enumeration value="auditor"/>
			<xs:enumeration value="subcontractor"/>
			<xs:enumeration value="property manager"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuditorQualification">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PE"/>
			<xs:enumeration value="CEM"/>
			<xs:enumeration value="BPI-BA"/>
			<xs:enumeration value="RESNET-Home Partner"/>
			<xs:enumeration value="RA"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImplementerQualification">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PE"/>
			<xs:enumeration value="CEM"/>
			<xs:enumeration value="BPI-BA"/>
			<xs:enumeration value="BPI-MFBA"/>
			<xs:enumeration value="RESNET-Home Partner"/>
			<xs:enumeration value="RA"/>
			<xs:enumeration value="Refrigerating System Operating Engineer"/>
			<xs:enumeration value="High Pressure Boiler Operating Engineer"/>
			<xs:enumeration value="HEP - EA"/>
			<xs:enumeration value="HEP - QCI"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AzimuthType">
		<xs:annotation>
			<xs:documentation>Gives compass direction a surface (window, wall) is facing. Measured in degrees clockwise from North.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxExclusive value="360"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="energyUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cmh"/>
			<xs:enumeration value="ccf"/>
			<xs:enumeration value="kcf"/>
			<xs:enumeration value="Mcf"/>
			<xs:enumeration value="cfh"/>
			<xs:enumeration value="kWh"/>
			<xs:enumeration value="MWh"/>
			<xs:enumeration value="Btu"/>
			<xs:enumeration value="kBtu"/>
			<xs:enumeration value="MBtu"/>
			<xs:enumeration value="therms"/>
			<xs:enumeration value="lbs"/>
			<xs:enumeration value="kLbs"/>
			<xs:enumeration value="MLbs"/>
			<xs:enumeration value="tonnes"/>
			<xs:enumeration value="cords"/>
			<xs:enumeration value="gal"/>
			<xs:enumeration value="kgal"/>
			<xs:enumeration value="ton hours"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="waterUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="gal"/>
			<xs:enumeration value="kgal"/>
			<xs:enumeration value="Mgal"/>
			<xs:enumeration value="cf"/>
			<xs:enumeration value="ccf"/>
			<xs:enumeration value="kcf"/>
			<xs:enumeration value="Mcf"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MeterReadingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="point"/>
			<xs:enumeration value="median"/>
			<xs:enumeration value="average"/>
			<xs:enumeration value="total"/>
			<xs:enumeration value="estimate"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WaterType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="indoor and outdoor water"/>
			<xs:enumeration value="indoor water "/>
			<!-- deprecated -->
			<xs:enumeration value="indoor water"/>
			<xs:enumeration value="outdoor water"/>
			<xs:enumeration value="wastewater/sewer"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WaterUseIntensityUnits">
		<xs:restriction base="xs:string">
			<xs:enumeration value="gal/sq.ft."/>
			<xs:enumeration value="gal/day/person"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="endUseType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Heating"/>
			<xs:enumeration value="Cooling"/>
			<xs:enumeration value="HotWater"/>
			<xs:enumeration value="Appliance"/>
			<xs:enumeration value="Lighting"/>
			<xs:enumeration value="PV"/>
			<xs:enumeration value="SolarThermal"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MeasuredOrEstimated">
		<xs:restriction base="xs:string">
			<xs:enumeration value="estimated"/>
			<xs:enumeration value="measured"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GrossOrNet">
		<xs:restriction base="xs:string">
			<xs:enumeration value="gross"/>
			<xs:enumeration value="net"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SurfaceArea">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransactionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="create"/>
			<xs:enumeration value="update"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuditorRelationship">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="HVACInstallationStandard">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACCA 5 QI HVAC"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HVACSizingCalcs">
		<xs:restriction base="xs:string">
			<xs:enumeration value="manual j"/>
			<xs:enumeration value="manual j and manual d"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HydronicDistributionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="radiator"/>
			<xs:enumeration value="baseboard"/>
			<xs:enumeration value="radiant floor"/>
			<xs:enumeration value="radiant ceiling"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirDistributionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="regular velocity"/>
			<xs:enumeration value="high velocity"/>
			<xs:enumeration value="gravity"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ElectricDistributionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="baseboard"/>
			<xs:enumeration value="radiant floor"/>
			<xs:enumeration value="radiant ceiling"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirHandlerMotorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PSC single-speed"/>
			<xs:enumeration value="PSC multi-speed"/>
			<xs:enumeration value="ECM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PlugLoadType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TV plasma"/>
			<xs:enumeration value="TV CRT"/>
			<xs:enumeration value="TV other"/>
			<xs:enumeration value="computer"/>
			<xs:enumeration value="space heater"/>
			<xs:enumeration value="water bed"/>
			<xs:enumeration value="aquarium"/>
			<xs:enumeration value="electric vehicle charging"/>
			<xs:enumeration value="well pump"/>
			<xs:enumeration value="sauna"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PlugLoadLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="interior"/>
			<xs:enumeration value="exterior"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PlugLoadUnits">
		<xs:restriction base="xs:string">
			<xs:enumeration value="kWh/year"/>
			<xs:enumeration value="W"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WindowCondition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="good"/>
			<xs:enumeration value="moderate"/>
			<xs:enumeration value="poor"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GasFill">
		<xs:restriction base="xs:string">
			<xs:enumeration value="air"/>
			<xs:enumeration value="argon"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GlassType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="low-e"/>
			<xs:enumeration value="tinted"/>
			<xs:enumeration value="reflective"/>
			<xs:enumeration value="tinted/reflective"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClothesWasherType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="top loader"/>
			<xs:enumeration value="front loader"/>
			<xs:enumeration value="all-in-one combination washer/dryer"/>
			<xs:enumeration value="unitized/stacked washer-dryer pair"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClothesDryerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="dryer"/>
			<xs:enumeration value="all-in-one combination washer/dryer"/>
			<xs:enumeration value="unitized/stacked washer-dryer pair"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LaundryMachineLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="basement"/>
			<xs:enumeration value="basement - conditioned"/>
			<xs:enumeration value="basement - unconditioned"/>
			<xs:enumeration value="garage"/>
			<xs:enumeration value="garage - conditioned"/>
			<xs:enumeration value="garage - unconditioned"/>
			<xs:enumeration value="laundry room"/>
			<xs:enumeration value="living space"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="unconditioned space"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FreezerStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="uncategorized"/>
			<xs:enumeration value="manual defrost"/>
			<xs:enumeration value="frost free"/>
			<xs:enumeration value="walk-in"/>
			<xs:enumeration value="case"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RefrigeratorStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="side-by-side"/>
			<xs:enumeration value="top freezer"/>
			<xs:enumeration value="bottom freezer"/>
			<xs:enumeration value="single door"/>
			<xs:enumeration value="full-size one door"/>
			<xs:enumeration value="full-size two doors"/>
			<xs:enumeration value="half or quarter size"/>
			<xs:enumeration value="walk-in"/>
			<xs:enumeration value="open case"/>
			<xs:enumeration value="closed case"/>
			<xs:enumeration value="uncategorized"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RefrigeratorLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="basement"/>
			<xs:enumeration value="basement - conditioned"/>
			<xs:enumeration value="basement - unconditioned"/>
			<xs:enumeration value="garage"/>
			<xs:enumeration value="garage - conditioned"/>
			<xs:enumeration value="garage - unconditioned"/>
			<xs:enumeration value="kitchen"/>
			<xs:enumeration value="living space"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="unconditioned space"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DehumidifierLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="living space"/>
			<xs:enumeration value="basement"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WaterHeaterType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="storage water heater"/>
			<xs:enumeration value="dedicated boiler with storage tank"/>
			<xs:enumeration value="instantaneous water heater"/>
			<xs:enumeration value="heat pump water heater"/>
			<xs:enumeration value="space-heating boiler with storage tank"/>
			<xs:enumeration value="space-heating boiler with tankless coil"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SolarThermalSystemType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="hot water"/>
			<xs:enumeration value="hot water and space heating"/>
			<xs:enumeration value="space heating"/>
			<xs:enumeration value="hybrid system"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SolarThermalCollectorLoopType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="air direct"/>
			<xs:enumeration value="air indirect"/>
			<xs:enumeration value="liquid direct"/>
			<xs:enumeration value="liquid indirect"/>
			<xs:enumeration value="passive thermosyphon"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SolarThermalCollectorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="single glazing black"/>
			<xs:enumeration value="single glazing selective"/>
			<xs:enumeration value="double glazing black"/>
			<xs:enumeration value="double glazing selective"/>
			<xs:enumeration value="evacuated tube"/>
			<xs:enumeration value="integrated collector storage"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResourceTypeCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Quantity">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="ProgramName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Title">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="StartDate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="CompleteDateEstimated">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="CompleteDateActual">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="Notes">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MeasureCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MeasureDescription">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="EstimatedLife">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="InstallationDate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="Cost">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="FundingSourceCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TotalAmount">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="FundingSourceName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="IncentiveAmount">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="LoadProfile">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="AnnualAmount">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="JobRole">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Fraction">
		<xs:annotation>
			<xs:documentation>A fraction that has to be between 0 and 1 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FractionGreaterThanOne">
		<xs:annotation>
			<xs:documentation>A fraction that can be greater than one (ie 110%)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AtticType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cape cod"/>
			<xs:enumeration value="cathedral ceiling"/>
			<xs:enumeration value="flat roof"/>
			<xs:enumeration value="unvented attic"/>
			<xs:enumeration value="vented attic"/>
			<xs:enumeration value="venting unknown attic"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AtticWallType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="gable"/>
			<xs:enumeration value="knee wall"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImprovementStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Installed"/>
			<xs:enumeration value="NotInstalled"/>
			<xs:enumeration value="Recommended"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TestResultType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="passed"/>
			<xs:enumeration value="failed"/>
			<xs:enumeration value="not tested"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FoundationThermalBoundary">
		<xs:restriction base="xs:string">
			<xs:enumeration value="frame floor"/>
			<xs:enumeration value="foundation wall"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WallAndRoofColor">
		<xs:restriction base="xs:string">
			<xs:enumeration value="light"/>
			<xs:enumeration value="medium"/>
			<xs:enumeration value="medium dark"/>
			<xs:enumeration value="dark"/>
			<xs:enumeration value="reflective"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoofType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="shingles"/>
			<xs:enumeration value="slate or tile shingles"/>
			<xs:enumeration value="wood shingles or shakes"/>
			<xs:enumeration value="asphalt or fiberglass shingles"/>
			<xs:enumeration value="metal surfacing"/>
			<xs:enumeration value="expanded polystyrene sheathing"/>
			<xs:enumeration value="plastic/rubber/synthetic sheeting"/>
			<xs:enumeration value="concrete"/>
			<xs:enumeration value="cool roof"/>
			<xs:enumeration value="green roof"/>
			<xs:enumeration value="no one major type"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeckType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="concrete"/>
			<xs:enumeration value="metal"/>
			<xs:enumeration value="wood"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Siding">
		<xs:restriction base="xs:string">
			<xs:enumeration value="wood siding"/>
			<xs:enumeration value="stucco"/>
			<xs:enumeration value="synthetic stucco"/>
			<xs:enumeration value="vinyl siding"/>
			<xs:enumeration value="aluminum siding"/>
			<xs:enumeration value="brick veneer"/>
			<xs:enumeration value="asbestos siding"/>
			<xs:enumeration value="fiber cement siding"/>
			<xs:enumeration value="composite shingle siding"/>
			<xs:enumeration value="masonite siding"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LengthMeasurement">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InsulationGrade">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FloorCovering">
		<xs:restriction base="xs:string">
			<xs:enumeration value="carpet"/>
			<xs:enumeration value="tile"/>
			<xs:enumeration value="hardwood"/>
			<xs:enumeration value="vinyl"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Pitch">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tilt">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="90"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PVSystemLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="roof"/>
			<xs:enumeration value="ground"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PVSystemOwnership">
		<xs:restriction base="xs:string">
			<xs:enumeration value="leased"/>
			<xs:enumeration value="owned"/>
			<xs:enumeration value="power purchase agreement"/>
			<xs:enumeration value="utility owned"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Power">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZoneType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="conditioned"/>
			<xs:enumeration value="unconditioned"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WholeBldgVentilationRequirementMethod">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ASHRAE 62.2-1989"/>
			<xs:enumeration value="ASHRAE 62.2-2007"/>
			<xs:enumeration value="ASHRAE 62.2-2010"/>
			<xs:enumeration value="ASHRAE 62.2-2013"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BooleanWithNA">
		<xs:restriction base="xs:string">
			<xs:enumeration value="true"/>
			<xs:enumeration value="false"/>
			<xs:enumeration value="na"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VentilationRateUnits">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACH"/>
			<xs:enumeration value="CFMnat"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VentilationFanThirdPartyCertification">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Energy Star"/>
			<xs:enumeration value="Home Ventilation Institute"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Recommendation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="require"/>
			<xs:enumeration value="recommend"/>
			<xs:enumeration value="no recommendation"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpotVentilationLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="bath"/>
			<xs:enumeration value="garage"/>
			<xs:enumeration value="garage - conditioned"/>
			<xs:enumeration value="garage - unconditioned"/>
			<xs:enumeration value="kitchen"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpotVentilationUnits">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CFM"/>
			<xs:enumeration value="ACH"/>
			<xs:enumeration value="L/s"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VentilationFanType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="exhaust only"/>
			<xs:enumeration value="supply only"/>
			<xs:enumeration value="heat recovery ventilator"/>
			<xs:enumeration value="energy recovery ventilator"/>
			<xs:enumeration value="balanced"/>
			<xs:enumeration value="central fan integrated supply"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HoursPerDay">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VentilationFanLocation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="bath"/>
			<xs:enumeration value="garage"/>
			<xs:enumeration value="garage - conditioned"/>
			<xs:enumeration value="garage - unconditioned"/>
			<xs:enumeration value="hallway"/>
			<xs:enumeration value="kitchen"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="eGridRegions">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Alaska"/>
			<xs:enumeration value="Eastern"/>
			<xs:enumeration value="ERCOT"/>
			<xs:enumeration value="Hawaii"/>
			<xs:enumeration value="Western"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProgramSponsor">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CertifyingOrganization">
		<xs:restriction base="xs:string">
			<xs:enumeration value="USGBC"/>
			<xs:enumeration value="NAHB"/>
			<xs:enumeration value="Energy Star Home"/>
			<xs:enumeration value="local program"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProgramCertificate">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Home Performance with Energy Star"/>
			<xs:enumeration value="LEED Certified"/>
			<xs:enumeration value="LEED Silver"/>
			<xs:enumeration value="LEED Gold"/>
			<xs:enumeration value="LEED Platinum"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BoilerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="hot water"/>
			<xs:enumeration value="steam"/>
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="KnownOrEstimated">
		<xs:restriction base="xs:string">
			<xs:enumeration value="known"/>
			<xs:enumeration value="estimated"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PoolType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="in ground"/>
			<xs:enumeration value="on ground"/>
			<xs:enumeration value="above ground"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="unknown"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MonthsPerYear">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PoolFilterType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="sand"/>
			<xs:enumeration value="diatomaceous earth"/>
			<xs:enumeration value="cartridge"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="unknown"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PoolPumpType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="single speed"/>
			<xs:enumeration value="multi speed"/>
			<xs:enumeration value="variable speed"/>
			<xs:enumeration value="variable flow"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="unknown"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PoolPump3rdPartyCertification">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ENERGY STAR"/>
			<xs:enumeration value="ENERGY STAR Most Efficient"/>
			<xs:enumeration value="CEE Tier 1"/>
			<xs:enumeration value="CEE Tier 2"/>
			<xs:enumeration value="Cee Tier 3"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="unknown"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PoolPumpSpeedSetting">
		<xs:restriction base="xs:string">
			<xs:enumeration value="low"/>
			<xs:enumeration value="high"/>
			<xs:enumeration value="most efficient"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="unknown"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Speed">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlowRate">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PoolCleanerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="robotic"/>
			<xs:enumeration value="suction side"/>
			<xs:enumeration value="pressure side"/>
			<xs:enumeration value="booster pump"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="unknown"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PoolHeaterType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="gas fired"/>
			<xs:enumeration value="electric resistance"/>
			<xs:enumeration value="heat pump"/>
			<xs:enumeration value="solar"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="unknown"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BPI2400CalibrationQualification">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="detailed"/>
			<xs:enumeration value="simple"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WeatherStationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TMY"/>
			<xs:enumeration value="TMY2"/>
			<xs:enumeration value="TMY3"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DuctLeakageTotalOrToOutside">
		<xs:restriction base="xs:string">
			<xs:enumeration value="to outside"/>
			<xs:enumeration value="total"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WeatherStationUse">
		<xs:annotation>
			<xs:documentation>By leaving this field empty, the weather station is assumed used for all functions such as utility bill regression analysis and energy model simulations. If different weather stations are used for the different functions, use this field to specify the usage of each weather station.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="billing analysis"/>
			<xs:enumeration value="energy modeling"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WaterFixtureType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="faucet"/>
			<xs:enumeration value="shower head"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WaterFixtureThirdPartyCertification">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Energy Star"/>
			<xs:enumeration value="Energy Star Most Efficient"/>
			<xs:enumeration value="WaterSense"/>
			<xs:enumeration value="CEE Tier 1"/>
			<xs:enumeration value="CEE Tier 2"/>
			<xs:enumeration value="CEE Tier 3"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LightingFixtureThirdPartyCertification">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Energy Star"/>
			<xs:enumeration value="Energy Star Most Efficient"/>
			<xs:enumeration value="CEE Tier 1"/>
			<xs:enumeration value="CEE Tier 2"/>
			<xs:enumeration value="CEE Tier 3"/>
			<xs:enumeration value="other"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PeopleCount">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WindThirdPartyCertification">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AWEA 9.1-2009"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DrainWaterHeatRecoveryFacilitiesConnected">
		<xs:restriction base="xs:string">
			<xs:enumeration value="one"/>
			<xs:enumeration value="all"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RecirculationControlType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="no control"/>
			<xs:enumeration value="timer"/>
			<xs:enumeration value="temperature"/>
			<xs:enumeration value="presence sensor demand control"/>
			<xs:enumeration value="manual demand control"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MERV">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SolarAbsorptance">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Emittance">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
